<div class="home-container" style="background-image: url(<%= image_path 'doggo-bg.png' %>)">
  <div class="home-search-form">
    <h2>Find your dog a place to stay</h2>
    <%= render './forms/search_form' %>
  </div>
</div>
