<div class="filter">
  <ul>
    <li class="btn-filter">Day Care</li>
    <li class="btn-filter">Dog Walking</li>
    <li class="btn-filter">Behaviorist</li>
    <li class="btn-filter">Price</li>
  </ul>
</div>
