// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// M Y.   S T Y L E S.
@import "kennels/kennels";
@import "kennels/show";
@import "kennels/filters";
@import "pages/profile";
@import "bookings/index";
@import "dogs/show";
@import "dogs/new";
@import "devise/devise";
@import "components/button";
@import "bookings/booking_modal";
@import "bookings/booking_section";
@import "bookings/profile_bookings";
@import "kennel_photos/index";

@import "components/card";

.page-container {
  margin-top: 61px;
  // padding: 20px;
}

body {
  // background-color: #f8f7fc;
  background-color: #fff;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a.link {
  color: #6a85a8;
  opacity: 0.6;
}

a.link:hover {
  opacity: 1;
}
