#booking-section {
  .guests {
    margin: 20px 0px 30px;
    .dog-img {
      opacity: 0.4;
      margin-right: 20px;
    }
    .selected-dog {
      opacity: 1;
    }
  }
  label.string {
    display: none;
  }

}
