.bookings-container {
  padding: 50px;
  p {
    margin: 0px;
    padding: 0px;
  }


  .active-bookings {
    margin-top: 30px;
    h4 {
      padding-bottom: 20px;
    }
  }

  .past-bookings {
    margin-top: 30px;
  }
}

