.profile-container {
  height: calc(100vh - 61px);
}

.profile-booking-card {
  height: 100%;
  border-radius: 5px;
  margin: 0px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  border-radius: 4px;
  .kennel-details {
    display: flex;
    margin: 0px;
    padding: 0px;
    img {
      margin-right: 10px;
      border-radius: 4px 0px 0px 4px;
      width: 170px;
    }
    h4 {
      padding-top: 10px;
    }
    h6 {
      padding-bottom: 10px;
    }
    p {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      border-top: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.profile-booking-card.inactive {
  opacity: 0.3;
}

.actions {
  display: flex;
  flex-direction: column;
  i {
    margin: 10px;
    color: #6a85a8;
    font-size: 20px;
    opacity: 0.2;
  }
  i:hover {
    opacity: 1;
    cursor: pointer;
  }
}

span.highlight {
  color: white;
  background-color: #6a85a8;
  padding: 2px 5px;
}

#myClassicTabContent {
  overflow: scroll;
  height: 400px;
}


.btn-container {
  position: relative;
  // display: none;
}
.btn-add-review {
  position: absolute;
  background-color: #7eb37e;
  color: white;
  border-radius: 150px;
  padding: 10px 20px;
  top: 45px;
  left: 45px;
  -webkit-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 30px -18px rgba(0,0,0,0.45);
  cursor: pointer;
}
